<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SubmitDataMapper">

    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.model.SubmitData">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="EMPLOYEE_NAME" jdbcType="VARCHAR" property="employeeName"/>
        <result column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId"/>
        <result column="TARGET_DATE" jdbcType="VARCHAR" property="targetDate"/>
        <result column="TARGET_YEAR" jdbcType="INTEGER" property="targetYear"/>
        <result column="TARGET_MONTH" jdbcType="INTEGER" property="targetMonth"/>
        <result column="TARGET_DAY" jdbcType="INTEGER" property="targetDay"/>
        <result column="TYPE" jdbcType="INTEGER" property="type"/>
        <result column="DATA_ID" jdbcType="VARCHAR" property="dataId"/>
        <result column="FLAG" jdbcType="INTEGER" property="flag" />
        <result column="SUBMIT_TIME" jdbcType="TIMESTAMP" property="submitTime"/>
    </resultMap>

    <insert id="insertData" parameterType="com.tencent.wxcloudrun.model.SubmitData">
        insert into submit_data
            (EMPLOYEE_NAME, EMPLOYEE_ID, TARGET_DATE, TARGET_YEAR, TARGET_MONTH, TARGET_DAY, TYPE, DATA_ID, FLAG, SUBMIT_TIME)
        values (#{employeeName}, #{employeeId}, #{targetDate}, #{targetYear}, #{targetMonth}, #{targetDay}, #{type}, #{dataId}, #{flag}, #{submitTime})
    </insert>

    <insert id="insertBatchData">
        insert into submit_data
        (EMPLOYEE_NAME, EMPLOYEE_ID, TARGET_DATE, TARGET_YEAR, TARGET_MONTH, TARGET_DAY, TYPE, DATA_ID, FLAG, SUBMIT_TIME)
        values
        <foreach collection="dataList" item="item" separator=",">
            (#{item.employeeName}, #{item.employeeId}, #{item.targetDate}, #{item.targetYear}, #{item.targetMonth}, #{item.targetDay}, #{item.type},
            #{item.dataId}, #{item.flag}, #{item.submitTime})
        </foreach>
    </insert>

    <select id="selectDistinctDateByNameAndIdAndFlag" resultMap="BaseResultMap">
        select DISTINCT target_date, target_year, target_month, target_day, type, employee_name, employee_id, flag
        from submit_data
        where employee_name = #{employeeName}
          and employee_id = #{employeeId}
         <if test="targetMonths != null and targetMonths.size() != 0">
            and target_month in
            <foreach collection="targetMonths" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
          </if>
          <if test="flags != null and flags.size() != 0">
            and flag in
            <foreach collection="flags" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
          </if>
        order by target_date
    </select>

    <update id="deleteRecords">
        update submit_data
        set flag = 1
        where employee_name = #{employeeName}
            and employee_id = #{employeeId}
            and type  = #{type}
            and target_date = #{date}
    </update>


</mapper>
